.body {
  height: 100%;
}

.homePage {
  min-height: 100vh;
  background-image: url("./images/home-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  padding-top: 20%;
}

.lessCentered {
  padding-top: 5%;
}